<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
    <meta charset="UTF-8">
    <title></title>
    </head>
    <body>
    <table border="1" cellpadding="10" xmlns:th="http://www.w3.org/1999/xhtml">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Ocena</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${students}">
            <td th:text="${s.studentId}">ID</td>
            <td th:text="${s.name}">Imię</td>
            <td th:text="${s.surname}">Nazwisko</td>
            <td th:text="${s.gradesId}">Ocena</td>
        </tr>
        </tbody>
    </table>
    </body>
</html>