<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Studenci</title>
</head>
<body>
<h1>Witaj w systemie oceniania studentów!</h1>

<h2>Studenci</h2>
<table border="1" cellpadding="10" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${students}">
        <td th:text="${s.studentId}">ID</td>
        <td th:text="${s.name}">Imię</td>
        <td th:text="${s.surname}">Nazwisko</td>
    </tr>
    </tbody>
</table>

<br>
<h2>Przedmioty</h2>
<table border="1" cellpadding="10" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${courses}">
        <td th:text="${c.courseId}">ID</td>
        <td th:text="${c.name}">Nazwa</td>
    </tr>
    </tbody>
</table>

<h2>Oceny studentów</h2>
<table border="1" cellpadding="10" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>Student</th>
        <th>Przedmiot</th>
        <th>Ocena</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="grade : ${grades}">
        <td th:text="${grade.student.name}"></td>
        <td th:text="${grade.course.name}"></td>
        <td th:text="${grade.points}"></td>
    </tr>
    </tbody>
</table>
<br>
<br>
<button onclick="redirectToCourses()">Przedmioty</button>
<button onclick="redirectToStudents()">Studenci</button>

<script>
    function redirectToCourses() {
        window.location.href = "/courses";
    }
    function redirectToStudents() {
        window.location.href = "/students";
    }
</script>
</body>
</html>
