<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Studenci</title>
</head>
<body>
<h1>Studenci</h1>
<table border="1" cellpadding="10" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>ID</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${students}">
        <td th:text="${s.studentId}">ID</td>
        <td th:text="${s.name}">Imię</td>
        <td th:text="${s.surname}">Nazwisko</td>
        <td>
            <button type="button" th:onclick="'deleteStudent(' + ${s.studentId} + ')'">Usuń</button>

            <button type="button" th:onclick="'viewStudentGrades(' + ${s.studentId} + ')'">Oceny</button>
        </td>
    </tr>
    </tbody>
</table>

<h2>Dodawanie studenta</h2>
<form action="/students/add" method="post">
    <label for="name">Imię:</label>
    <input type="text" id="name" name="name" required>

    <label for="surname">Nazwisko:</label>
    <input type="text" id="surname" name="surname" required>

    <button type="submit" onclick="updateAction()">Dodaj studenta</button>
</form>
<br>
<br>
<button onclick="redirectToCourses()">Przedmioty</button>

<script>
    function deleteStudent(studentId) {
        fetch('/students/delete/' + studentId,  {
            method: 'DELETE'
        }).then(location.reload);
        const btn = document.querySelector("button");
        btn.action = "/students";

    }

    function viewStudentGrades(studentId) {
        window.location.href = "/students/grades/" + studentId;
    }

    function updateAction() {
        const name = document.getElementById("name").value;
        const surname = document.getElementById("surname").value;
        const form = document.querySelector("form");
        fetch('/students/add/' + name + '/' + surname,  {
            method: 'POST'
        }).then(location.reload);
        //window.location.href = "/students"
        //form.action = "/students/add/" + encodeURIComponent(name) + "/" + encodeURIComponent(surname);
        window.location.href = "/students";

    }

    function redirectToCourses() {
        window.location.href = "/courses";
    }
</script>
</body>
</html>
