<table border="1" cellpadding="10" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <tr>
        <th>ID</th>
        <th>Nazwa modelu</th>
        <th>Producent</th>
        <th>Kraj produkcji</th>
        <th>Cena zł.</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Studenci : ${students}">
        <td th:text="${student.id}">ID</td>
        <td th:text="${produkt.name}">Nazwa</td>
        <td th:text="${produkt.lastname}">Producent</td>
        <td th:text="${produkt.grade_id}">Kraj produkcji</td>
    </tr>
    </tbody>
</table>
